.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: white;
    margin: 0 0 76px 0;
}

.pInfo {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 0 16px 16px 16px;
}

h2 {
  border-bottom-style: solid;
  border-bottom-color: darkgrey;
}

.footerText {
  margin: 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  color: black;
  text-align: center;
}

i.fab {
    color: black;
    margin: 0 4px 16px 4px;
}
