.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 960px;
    font-family: font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: white;
}
.navbar {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
#navbarNav{
  float: right;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}